---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import SignupForm from '../components/SignupForm.astro';

const seo = {
  title: 'Cardplex.io',
  description: 'Play your favorite card games online with your friends at Cardplex.io',
}
---

<style>
  .hero__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
  }
</style>

<Layout seo={seo}>
  <Container narrow>
    <article class="hero__article">
      <h2 class="fade-in">Coming Soon</h2>
      <p class="fade-in">Cards in hand, friends on standby. Your epic game night awaits!</p>
      <p class="fade-in">Be the first to know about the launch of the newest playing cards platform:</p>
      <SignupForm />
    </article>
  </Container>
</Layout>

